core/src/test/resources/xsd/datafile/datafile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    ROM Management Datafile - DTD
    
    This file has been modified from the original DTD. For further information,
    see: http://www.logiqx.com/
    
    This DTD module is identified by the PUBLIC and SYSTEM identifiers:
    
    PUBLIC "-//Logiqx//DTD ROM Management Datafile//EN"
    SYSTEM "https://raw.githubusercontent.com/unexpectedpanda/retool/main/datafile.dtd"
    
    $Revision: 2.1 $
    $Date: 2022/05/20 08:39:00 $
    
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="datafile">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="header"/>
                <xs:element maxOccurs="unbounded" ref="game"/>
            </xs:sequence>
            <xs:attribute name="build"/>
            <xs:attribute name="debug" default="no">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="yes"/>
                        <xs:enumeration value="no"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="header">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="name"/>
                <xs:element ref="description"/>
                <xs:element minOccurs="0" ref="category"/>
                <xs:element ref="version"/>
                <xs:element minOccurs="0" ref="date"/>
                <xs:element ref="author"/>
                <xs:element minOccurs="0" ref="email"/>
                <xs:element minOccurs="0" ref="homepage"/>
                <xs:element minOccurs="0" ref="url"/>
                <xs:element minOccurs="0" ref="comment"/>
                <xs:element minOccurs="0" ref="clrmamepro"/>
                <xs:element minOccurs="0" ref="romcenter"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="name" type="xs:string"/>
    <xs:element name="description" type="xs:string"/>
    <xs:element name="category" type="xs:string"/>
    <xs:element name="version" type="xs:string"/>
    <xs:element name="date" type="xs:string"/>
    <xs:element name="author" type="xs:string"/>
    <xs:element name="email" type="xs:string"/>
    <xs:element name="homepage" type="xs:string"/>
    <xs:element name="url" type="xs:string"/>
    <xs:element name="comment" type="xs:string"/>
    <xs:element name="clrmamepro">
        <xs:complexType>
            <xs:attribute name="header"/>
            <xs:attribute name="forcemerging" default="split">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="none"/>
                        <xs:enumeration value="split"/>
                        <xs:enumeration value="full"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="forcenodump" default="obsolete">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="obsolete"/>
                        <xs:enumeration value="required"/>
                        <xs:enumeration value="ignore"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="forcepacking" default="zip">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="zip"/>
                        <xs:enumeration value="unzip"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="romcenter">
        <xs:complexType>
            <xs:attribute name="plugin"/>
            <xs:attribute name="rommode" default="split">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="merged"/>
                        <xs:enumeration value="split"/>
                        <xs:enumeration value="unmerged"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="biosmode" default="split">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="merged"/>
                        <xs:enumeration value="split"/>
                        <xs:enumeration value="unmerged"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="samplemode" default="merged">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="merged"/>
                        <xs:enumeration value="unmerged"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="lockrommode" default="no">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="yes"/>
                        <xs:enumeration value="no"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="lockbiosmode" default="no">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="yes"/>
                        <xs:enumeration value="no"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="locksamplemode" default="no">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="yes"/>
                        <xs:enumeration value="no"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="game">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="category"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="comment"/>
                <xs:element ref="description"/>
                <xs:element minOccurs="0" ref="year"/>
                <xs:element minOccurs="0" ref="manufacturer"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="release"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="biosset"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="game_id"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="rom"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="disk"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="sample"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="archive"/>
            </xs:sequence>
            <xs:attribute name="name" use="required"/>
            <xs:attribute name="sourcefile"/>
            <xs:attribute name="isbios" default="no">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="yes"/>
                        <xs:enumeration value="no"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="cloneof"/>
            <xs:attribute name="romof"/>
            <xs:attribute name="sampleof"/>
            <xs:attribute name="board"/>
            <xs:attribute name="rebuildto"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="year" type="xs:string"/>
    <xs:element name="manufacturer" type="xs:string"/>
    <xs:element name="release">
        <xs:complexType>
            <xs:attribute name="name" use="required"/>
            <xs:attribute name="region" use="required"/>
            <xs:attribute name="language"/>
            <xs:attribute name="date"/>
            <xs:attribute name="default" default="no">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="yes"/>
                        <xs:enumeration value="no"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="biosset">
        <xs:complexType>
            <xs:attribute name="name" use="required"/>
            <xs:attribute name="description" use="required"/>
            <xs:attribute name="default" default="no">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="yes"/>
                        <xs:enumeration value="no"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="game_id" type="xs:string"/>
    <xs:element name="rom">
        <xs:complexType>
            <xs:attribute name="name" use="required"/>
            <xs:attribute name="size"/>
            <xs:attribute name="header"/>
            <xs:attribute name="mia"/>
            <xs:attribute name="crc"/>
            <xs:attribute name="sha1"/>
            <xs:attribute name="sha256"/>
            <xs:attribute name="md5"/>
            <xs:attribute name="merge"/>
            <xs:attribute name="status" default="good">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="baddump"/>
                        <xs:enumeration value="nodump"/>
                        <xs:enumeration value="good"/>
                        <xs:enumeration value="verified"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="date"/>
            <xs:attribute name="serial"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="disk">
        <xs:complexType>
            <xs:attribute name="name" use="required"/>
            <xs:attribute name="sha1"/>
            <xs:attribute name="sha256"/>
            <xs:attribute name="md5"/>
            <xs:attribute name="merge"/>
            <xs:attribute name="status" default="good">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="baddump"/>
                        <xs:enumeration value="nodump"/>
                        <xs:enumeration value="good"/>
                        <xs:enumeration value="verified"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="sample">
        <xs:complexType>
            <xs:attribute name="name" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="archive">
        <xs:complexType>
            <xs:attribute name="name" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
