core/src/test/resources/xsd/datafile/nointro/schema_nointro_datfile_v2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="datafile">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:int" />
              <xs:element name="name" type="xs:string" />
              <xs:element name="description" type="xs:string" />
              <xs:element name="version" type="xs:string" />
              <xs:element name="author" type="xs:string" />
              <xs:element name="homepage" type="xs:string" />
              <xs:element name="url" type="xs:string" />
              <xs:element name="clrmamepro">
                <xs:complexType>
                  <xs:attribute name="forcenodump" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="game">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="description" type="xs:string" />
              <xs:element name="rom">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="size" type="xs:unsignedInt" use="required" />
                  <xs:attribute name="crc" type="xs:string" use="required" />
                  <xs:attribute name="md5" type="xs:string" use="required" />
                  <xs:attribute name="sha1" type="xs:string" use="required" />
                  <xs:attribute name="sha256" type="xs:string" use="optional" />
                  <xs:attribute name="status" type="xs:string" use="optional" />
                  <xs:attribute name="serial" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>